{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script"
    },
    "extends": [
        "./node_modules/eslint-config-persgroep/index.js"
    ],
    "globals": {},
    "env": {
        "browser": true,
        "amd": true
    }
}